# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
.venv/
env/
venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Test output
htmlcov/
.coverage
.tox/

# Others
*.sqlite3
*.db
output/
img/
.claude/
~*